@import url('https://fonts.googleapis.com/css?family=Dosis|Raleway');

h3{
	margin: 0 auto -30px auto;
	border-radius: 4px;
	background-color: #ff4d6a;
	border: none;
	color: white;
	font-size: 20px;
	font-family: 'Raleway';
	padding: 5px;
	width: 615px;
	text-align: center;
}

#display{
	width:624px;
	height:351px;
	margin:0px auto;
	background-image:url(../Images/plx-5.png),url(../Images/plx-4.png),url(../Images/plx-3.png),url(../Images/plx-2.png),url(../Images/plx-1.png);
	background-position:150%,400%,200%,50%,0px;
	background-size:80%,80%,80%,80%,80%;
	background-repeat:repeat-x,repeat-x,repeat-x,repeat-x,repeat-x;
	animation: animate-background linear 50s infinite;
}

@keyframes animate-background {
	from { background-position: 150%,400%,200%,50%,0px}
	to { background-position: -500%,-180%,-100%,-50%,0px}
}