@import url('https://fonts.googleapis.com/css?family=Dosis|Raleway');

h3{
	margin: 50px auto -38px auto;
	border-radius: 4px;
	background-color: #2ecc71;
	border: none;
	color: white;
	font-size: 20px;
	font-family: 'Raleway';
	padding: 10px;
	width: 748px;
	text-align: center;
	box-shadow: 0px 5px 0px 0px #15B358;
}

#display{
	width:748px;
	height:420px;
	margin:0px auto;
	background-image:url(../Images/plx-5.png),url(../Images/plx-4.png),url(../Images/plx-3.png),url(../Images/plx-2.png),url(../Images/plx-1.png);
	background-position:150%,400%,0%,100%,0px;
	background-size:80%,80%,80%,80%,80%;
	background-repeat:repeat-x,repeat-x,repeat-x,repeat-x,repeat-x;
	animation: animate-background linear 50s infinite;
}

@keyframes animate-background {
	from { background-position: 150%,400%,0%,100%,0px}
	to { background-position: -500%,-180%,0%,-500%,0px}
}

.progress{
	width:748px;
	margin: 0px auto 0 auto;
}